<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">

    <!-- CSS globaux -->
    <link rel="stylesheet" href="{{ asset('css/navbar.css') }}">
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    <link rel="stylesheet" href="{{ asset('css/footer.css') }}">



    {% block stylesheets %}{% endblock %}
</head>

<body>
    <header class="main-navbar">
        <div class="navbar-container">
            <div class="logo">
                <a href="{{ path('app_home') }}">Cinéphoria</a>
            </div>
            <nav class="nav-links">
                <a href="{{ path('app_reservation') }}">Réservation</a>
                <a href="{{ path('app_films') }}">Films</a>
                <a href="{{ path('app_contact') }}">Contact</a>
            </nav>
            <div class="user-section">
                {% if app.user %}
                    <div class="dropdown" id="userDropdown">
                        <div class="user-display">
                            <span class="menu-username">Bonjour {{ app.user.username }}</span>
                            <img src="{{ asset('images/icons/user.svg') }}" alt="Compte utilisateur" class="dropdown-icon" onclick="toggleDropdown()" />
                        </div>
                        <ul class="dropdown-content" id="dropdownMenu">
                            <li><a href="{{ path('app_account') }}">Mon espace</a></li>
                            {% if is_granted('ROLE_SUPER_ADMIN') %}
                                <li><a href="{{ path('admin') }}">Intranet</a></li>
                            {% elseif is_granted('ROLE_ADMIN') %}
                                <li><a href="{{ path('admin') }}">Administration</a></li>
                            {% endif %}
                            <li><a href="{{ path('app_logout') }}">Déconnexion</a></li>
                        </ul>
                    </div>
                {% else %}
                    <a class="login-icon" href="{{ path('app_auth') }}">
                        <img src="{{ asset('images/icons/user.svg') }}" alt="Connexion" />
                    </a>
                {% endif %}
            </div>
        </div>
    </header>

    {% block body %}{% endblock %}

    <footer>
        <div class="footer-main">
            <div class="footer-section">
                <div class="footer-icon-title">
                    <img src="{{ asset('images/icons/horloge.svg') }}" width="24" height="24" alt="Horaires" />
                    <p class="footer-title">Horaires</p>
                </div>
                <p>Lundi - Vendredi : 9h - 23h<br>Samedi - Dimanche : 10h - 22h</p>
            </div>
            <div class="footer-section">
                <div class="footer-icon-title">
                    <img src="{{ asset('images/icons/coordonnees.svg') }}" width="22" height="30" alt="Coordonnées" />
                    <p class="footer-title">Coordonnées</p>
                </div>
                <p>10 rue de la paix, 33000 Bordeaux<br>04 01 02 03 05</p>
            </div>
            <div class="footer-links">
                <a href="#">Réservations</a>
                <a href="{{ path('app_films') }}">Films</a>
                <a href="{{ path('app_contact') }}">Contact</a>
            </div>
        </div>
        <div class="footer-bottom">
            <a href="#">Mentions légales</a>
            <p>© 2025 Cinéphoria</p>
        </div>
    </footer>

    <script src="{{ asset('js/scripts.js') }}"></script>

    <script src="{{ asset('js/film_filtre.js') }}"></script>

    {% block javascripts %}{% endblock %}
</body>
</html>
