{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/films.css') }}">
{% endblock %}

{% block title %}Films{% endblock %}

{% block body %}
<section class="films-section">
    <h1 class="films-title section-title"><span class="underline"></span>FILMS</h1>

    <div class="filter-bar">
       <select id="ville" class="form-select">
    <option value="">Toutes les villes</option>
    <optgroup label="France">
        {% for ville in villes.france %}
            <option value="{{ ville }}">{{ ville }}</option>
        {% endfor %}
    </optgroup>
    <optgroup label="Belgique">
        {% for ville in villes.belgique %}
            <option value="{{ ville }}">{{ ville }}</option>
        {% endfor %}
    </optgroup>
</select>

        <select disabled>
            <option selected disabled>Genre du film</option>
        </select>
        <select disabled>
            <option selected disabled>Jour</option>
        </select>
    </div>

    <div id="films-container" class="film-grid">
        {% include 'film_user/_films_list.html.twig' with { films: films } %}
    </div>

    <div class="pagination">
        <span>«</span>
        <span class="active">1</span>
        <span>2</span>
        <span>3</span>
        <span>4</span>
        <span>»</span>
    </div>
</section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/film_filtre.js') }}"></script>
{% endblock %}
