{% extends 'base.html.twig' %}

{% block title %}{{ film.titre }}{% endblock %}

{% block body %}
<h1>{{ film.titre }}</h1>

<p>{{ film.synopsis }}</p>

{% if film.affiche %}
    <img src="{{ film.affiche }}" alt="{{ film.titre }}" width="200">
{% endif %}

<hr>

<h2>Séances à venir</h2>

{% if film.seances is not empty %}
    <ul>
        {% for seance in film.seances %}
            <li style="margin-bottom: 20px;">
                <strong>Date :</strong> {{ seance.dateHeureDebut|date('d/m/Y H:i') }}<br>
                <strong>Fin :</strong> {{ seance.dateHeureFin|date('d/m/Y H:i') }}<br>
                <strong>Salle :</strong> {{ seance.salle.nom }}<br>
                <strong>Qualité :</strong> {{ seance.qualite }}<br>
                <strong>Places dispo :</strong> {{ seance.placesDisponible }}<br>

                <a href="{{ path('app_reservation_seance', { id: seance.id }) }}">Réserver</a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>Aucune séance disponible pour ce film.</p>
{% endif %}

<hr>

<h2>Avis</h2>
<h2>Ajouter un avis</h2>

    {{ form_start(avis_form) }}
        {{ form_row(avis_form.noteSur5) }}
        {{ form_row(avis_form.commentaire) }}
        <button type="submit">Envoyer</button>
    {{ form_end(avis_form) }}


<hr>

<h2>Avis des spectateurs</h2>

{% if film.avis is not empty %}
    <ul>
        {% for a in film.avis %}
            {% if a.valide %}
                <li>
                    <strong>Note :</strong> {{ a.noteSur5 }}/5<br>
                    <em>{{ a.commentaire }}</em>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% else %}
    <p>Aucun avis pour ce film.</p>
{% endif %}


<p><a href="{{ path('app_films') }}">← Retour à la liste des films</a></p>
{% endblock %}
